<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857959671176-cssvf3bi1mgp7fkofubdc79so2jq1k37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857959671176-cssvf3bi1mgp7fkofubdc79so2jq1k37</string>
	<key>API_KEY</key>
	<string>AIzaSyDiL-2Zn-n2uTleOL_0OB0uiOPa5GoAWhU</string>
	<key>GCM_SENDER_ID</key>
	<string>857959671176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.gov.vic.hobsonsbay.dev</string>
	<key>PROJECT_ID</key>
	<string>hb-recycling-2</string>
	<key>STORAGE_BUCKET</key>
	<string>hb-recycling-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857959671176:ios:bdc4417e0fccdb95cb863d</string>
</dict>
</plist>